dataset/
.vs/
.vscode/
*.pyc
__pycache__/
playground.*
test.*
playground.py
google_api/credentials.json
google_api/token.pickle
train_results/
*.ipynb
*.png
real_data
ScreenCamera*
*-checkpoint.py
*eval.npy